/* Main content */
.container .main-content {
    background-color: rgb(229, 225, 225);
    padding: 16px 24px;
    width: 100%;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
}

.candidate-container {
    height: 100%;
    box-sizing: border-box;
}


/* Candidate Header */
.main-content .candidate-header {
    height: 50px;
    padding-bottom: 8px;
}

.main-content .candidate-header .candidate-header-left {
    font-size: 20px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 4px;
}

.main-content .candidate-header .candidate-header-right {
    height: 36px;
    background-color: #2680eb;
    border-radius: 4px;
}

.main-content .candidate-header .btn-candidate-add {
    width: auto;
    font-weight: 500;
    font-size: 14px;
    background-color: #2680eb;
    height: 100%;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 8px 12px;
}

.main-content .candidate-header .btn-candidate-add:hover {
    background-color: #4097ff;
    cursor: pointer;
}

.btn-candidate-add .btn-add-text {
    color: white;
    font-weight: 3000;
    padding-left: 8px;
}

.more-option {
    width: 40px;
    height: 36px;
    border-left: 1px solid #176cd1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 3;
}

.more-option:hover {
    background-color: #4097ff;
    cursor: pointer;
}

.main-content .candidate-body {
    background-color: white;
    border-radius: 4px;
    height: calc(100% - 58px);
}

.main-content .candidate-wrapper-content {
    height: 100%;
}

/* Candidate Toolbar */

.candidate-body .toolbar {
    padding: 12px 16px;
}

.candidate-body .toolbar-left {
    width: 250px;
}

.candidate-body .toolbar-left .toolbar-search {
    border: #decdcd 1px solid;
    border-radius: 4px;
    padding: 4px;
}

.toolbar-search-inp {
    margin-left: 12px;
}

.toolbar-left .toolbar-search .search-input {
    border: none;
    outline: none;
}


.candidate-body .toolbar-right {
    gap: 8px;
}

.toolbar-right .area {
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    padding: 8px;
    border: 1px solid #e0e6ec;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

/* Candidate Body */
.candidate-list-container {
    height: calc(100% - 62px - 60px); /* header + pagination */
    overflow: hidden;
}

.candidate-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    background: #fff;
    position: relative;
}

.candidate-list .candidate-table {
    table-layout: fixed;
    /* width: max-content; */
    border-collapse: collapse;
}

.candidate-list .candidate-table thead {
    background-color: #f5f5f5;
    border-bottom: 2px solid #e0e0e0;
}

.candidate-list .candidate-row {
    position: relative;
    height: 48px;
    border-bottom: 1px solid #e0e6ec;
    cursor: pointer;
}

.candidate-list .candidate-row:hover {
    background-color: #e1eeff;
}

.row-edit-btn {
  position: sticky;
  right: 0;
  background: #fff;
  z-index: 5;
  text-align: center;
  width: 48px;
  opacity: 0;
}

.candidate-row:hover .row-edit-btn {
  opacity: 1;
  pointer-events: auto;
  background-color: #e1eeff;
}


.candidate-table th,
.candidate-table td {
    padding: 8px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #5598fc;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullname {
    display: flex;
    align-items: center;
    gap: 8px;
}


/* App pages */
.app-page {
    width: 100%;
    background-color: #f5f5f5;
    height: 60px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
}

.app-page .total-record {
    color: #000;
}

.app-page .total-record .total {
    font-weight: 600;
}

.app-page .app-page-right {
    gap: 12px;
}

.app-page-right .text-record {
    white-space: nowrap;
}

.app-page-right .dropdown {
    /* padding: 8px 8px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown #recordsPerPage {
    padding: 8px 4px;
    margin-right: 4px;
    border: none;
    outline: none;
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.app-page-right .control-paging {
    gap: 12px;
}